/* KontentTweets Module */
ul.tweets-module,
ul.tweet-info {
	margin: 0;
	padding: 0;
}
.tweets-module li,
.tweet-info li {
	list-style-type: none;
}
.tweet {
	margin-top: 15px;
}
.tweet-image {
	float: left;
	margin: 0px 10px 5px 0px;
}
.tweet-image img {
	width: 48px;
	height: 48px;
	border: 1px solid #c7c7c7;
}
.tweet-date {
	font-size: 10px;
	margin: 5px 0;
	color: #666;
	line-height: 11px;
}
.tweet-follow {
	background: url("../images/twitter.png") no-repeat left top;
	line-height: 16px;
	vertical-align: middle;
}
.tweet-follow a {
	font-size: 10px;
	padding-left: 22px;
}
.tweet-follow {
	font-size: 10px;
	margin: 5px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #c7c7c7;
}
.tweet-username {
	width: 88px;
	float: left;
	margin-bottom: 5px;
	word-wrap: break-word;
}
.tweet-username a {
	font-size: 13px;
	word-wrap: break-word;
}
.tweet-message {
	clear:left;
	word-wrap: break-word;
}


/* Error Page */
.tweet-error 		{ margin: 10px 5px; }
.tweet-error strong { font-size: 1.2em;font-weight: bold; }
.tweet-error p 		{ padding: 5px 0px; }